@charset "UTF-8";

body{
    background: rgb(255, 255, 255) url(assets/background.png) center center no-repeat fixed; 
    background-size: cover;
    height: 96vh;
    
}

h1{
    text-align: center;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}

span{
    color: #644FE0;;
}

#caixabranca{
    margin-top: 2%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 600px;
    border-radius: 10px;
    background-color: white;
    top: 2%;
    box-shadow: 1px 7px 30px rgb(193, 192, 199);
}

/*/#caixabranca p {
    padding-bottom: 10px;
}/*/


#links1{
    background-color: rgb(224, 224, 224);
    width: 430px;
    height: 100px;
    position: relative;
    left: 5%;
    margin-left: 30px;
    padding: 5px;
    border-radius: 6px;
}

#links2{
    background-color: rgb(224, 224, 224);
    width: 430px;
    height: 100px;
    position: relative;
    left: 5%;
    margin:30px;
    margin-top: 23px;
    padding: 5px;
    border-radius: 6px;
}

#links3{
    background-color: rgb(224, 224, 224);
    width: 430px;
    position: relative;
    margin-top: 30px;
    padding: 5px;
    border-radius: 6px;
    right: 1%;
    
}

#links1 h1{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    padding-top: 5px;
}

#links2 h1{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    padding-top: 5px;
}

#links3 h1{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    padding-top: 5px;
}

#links1 p{
    text-align: center;
    line-height: 1.5;
}

#links2 p{
    text-align: center;
    line-height: 1.5;
}

#links3 p{
    text-align: center;
    line-height: 1.5;
}

img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 38%;
}

label{
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#info {
    text-align: center;
    margin-bottom: 10px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#cad-consumidor{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#cad-un-consumidora{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#troca-titularidade{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

a:hover{
    color: #644FE0;

}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}