* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: rgb(0, 0, 0) url(assets/background.png) center center no-repeat fixed;
    background-size: cover;
}

main {
    position: relative;
    width: 450px;
    height: 73vh;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 0px 30px rgb(193, 192, 199);
}

.container {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

.filho input {
    padding: 3.5%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #66666C;
}

button {
    font-family: 'Roboto', sans-serif;
    padding: 3.5%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 98%;
    border: none;
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(48, 46, 46);
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #644FE0;
}

label {
    font-size: 13px;
    font-weight: bolder;
}

h1 {
    font-size: 35px;
    margin-top: 10%;
    padding-bottom: 8px;
    text-align: center;
    padding-top: 30px;
}

p {
    margin-bottom: 10%;
    font-size: 13px;
}

span {
    color: #644FE0;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
}