* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: rgb(255, 255, 255) url(../assets/background.png) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 3%;
    border-radius: 1.0rem;
    background-color: white;
    box-shadow: 1rem 7rem 30rem rgb(193, 192, 199);
    max-width: 100.0rem;
    padding: 0 6rem 4rem;
}

li {
    list-style: none;
}

button {
    margin-top: 30px;
    padding: .9rem .6rem;
    width: 45%;
    color: rgb(255, 255, 255);
    height: 8.5%;
    outline: none;
    background: rgb(48, 46, 46);
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #644FE0;
}

label {
    display: block;
    font-size: 1.6rem;
    margin-top: 10px;
}

input {
    height: 3.2rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 6px;
    width: 30rem;
}

h1 {
    font-size: 35px;
    margin-top: 10%;
    padding-bottom: 8px;
    text-align: center;
    padding-top: 30px;
}

p {
    margin-bottom: 10%;
    font-size: 13px;
}

span {
    color: #644FE0;
}

footer {
    margin-top: 3.0rem;
}

@media (min-width: 2560px) {
    h1 {
        font-size: 5rem;
    }
    p {
        margin-bottom: 5%;
    }

    main {
        width: clamp(90rem, 1px + 1vw, 170rem);
        padding: 0 8rem 4rem;
    }

    input {
        height: 4rem;
        width: 50rem;
    }

    button, label, input, p {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    main {
        margin-top: 20%;
        width: clamp(40rem, 1px + 1vw, 100rem);
        padding: 0 8rem 4rem;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    main {
        margin-top: 20%;
        width: clamp(30rem, 1px + 1vw, 100rem);
        padding: 0 4rem 4rem;
    }

    input {
        width: 20rem;
    }

    button {
        font-size: 1rem;
    }
}