@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background: black url("../assets/background.png") center center no-repeat fixed;
    background-size: cover;
    align-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
footer{
    margin-top: 2rem;
}
h1 {
    margin: 5% 0;
    text-align: center;
   

}
h2{
    text-align: center;
    margin: 1rem;
}
h3{
    text-align: center;
    margin: 1rem;
}

span {
    color: #644FE0;
}

.label-input, main {
    display: flex;
    flex-direction: column;
    align-items: center
}

main {
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 0px 30px rgb(193, 192, 199);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 2.5rem;
}   
form {
   display: flex;
   flex-direction: column;
   align-items: center;
}


th{
    padding: 4px;
}

.label-input label, input {
    display: block;
    margin-top: 10px;
    width: 300px;
}


form input{
    width: 100%;
}
input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}

#competencia {
    width: 300px;
}

.btn {
    /*para ter um espaçamento entre eles*/
    text-align: center;
    color: rgb(255, 255, 255);
    height: 34px;
    background: rgb(48, 46, 46);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 15px 0;
}

.btn:hover {
    background-color: #644FE0;
    cursor: pointer;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: .3%;
}

input::placeholder {
    padding-left: 5px;
}


.hide {
    display: none;
}

#dataListAdd{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#btnAdicionar{
    color:white;
    background-color: green;
    padding: 0.5rem 0.8rem;
    margin-left: 0.5em;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.tabelaAdd div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-start;
    width: 100%;
}
div input label{
    width: 150px !important;
}
.tabelaAdd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

 thead th{
    background: rgb(48, 46, 46);
    border: 1px solid black;
    color: white;
}

tbody th{
    border: 1px solid black;
    padding: 8px;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
table{
    border-collapse: collapse;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto;  
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 1em black;
    font-size: larger;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#input-modal{
    width: 100%;
}

@media (max-width: 750px) {
    label, input {
        margin-top: 5px;
        width: 250px;
    }
    #competencia {
        width: 250px;
    }
    
    #btn {
        margin: 15px 0;
    }
    main {
        padding: 20px;
        max-width: 50rem;
        border-radius: 10px;
        background-color: white;
        box-shadow: 1px 0px 30px rgb(193, 192, 199);
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        margin: 2.5rem;
    }
}


@media (max-width: 650px) {
    main {
        width: 90%;
    }
}